.selectors {
  text-decoration: none;
  color: white;
}

.my-projects-container {
  color: white;
  display: flexbox;
}

.my-project-h2-container {
  justify-self: center;
}

.my-project-list-container {
  justify-self: center;
  opacity: 0;
  transform: translateY(10px);
  transition: 0.01s ease-out;
}

.my-projects-container ul {
  list-style-type: none;
  padding-left: 0%;
}

.my-projects-container li {
  background-color: hsla(17, 56%, 49%, 0.35);
  margin: 10px;
  padding: 10px;
  text-align: center;
  border: 2px solid white;
  border-radius: 30px;
}
