body {
  background-color: hsla(32, 37%, 46%, 0.7);
  font-family: "Roboto";
}

.bgimage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}
